.box{
    width: 1000px;
    margin: 50px auto;
    font-family: sans-serif;
}
.box button{
    padding: 15px 30px;
    border: none;
    color: white;
}

.bt1{
    background-image: linear-gradient(90deg, red, orange);
}

.bt2{
    background-image: linear-gradient(90deg, rgb(113, 113, 233), blue);
}

.bt3{
    background-image: linear-gradient(90deg, rgb(141, 233, 141), green);
}

.bt4{
    background-image: linear-gradient(90deg, rgb(74, 3, 74), rgb(104, 29, 41));
}

.bt5{
    background-image: linear-gradient(90deg, black, grey);
}

