.box{
    border: 1px solid;
    width: 600px;
    height: 50px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(213, 233, 239);
}
img{
    width: 15%;
}
h5{
    margin-left: 35px;
    color: rgb(51, 81, 81);
}